.raremint-nft-wrapper {
    background: linear-gradient(
        125.66deg,
        rgba(254, 202, 231, 0.25) 28.2%,
        rgba(113, 211, 247, 0.25) 43.45%,
        rgba(107, 254, 252, 0.25) 61.48%,
        rgba(216, 233, 213, 0.25) 79.06%,
        rgba(123, 178, 244, 0.25) 100%
    );
    /* border-radius: 12px; */
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
